master.ocplabs.com ansible_host=192.168.0.102
node01.ocplabs.com ansible_host=192.168.0.103
node02.ocplabs.com ansible_host=192.168.0.104
node03.ocplabs.com ansible_host=192.168.0.105

[OSEv3:children]
masters
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root
# Use Python 3 for Fedora, Python 2 for RHEL
ansible_python_interpreter=/usr/bin/python3

# To deploy origin, change deployment_type to origin
product_type=openshift
deployment_type=openshift-enterprise
openshift_release=v3.9
openshift_version='3.9'
openshift_image_tag=v3.9

# Use containerized install
containerized=true

# enable htpasswd authentication
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/openshift-passwd'}]

# default domain
openshift_master_default_subdomain=apps.ocplabs.com

# Metrics and logging
openshift_metrics_install_metrics=true
openshift_logging_install_logging=false

# Service Catalog
openshift_enable_service_catalog=true
openshift_template_service_broker_namespaces=['openshift']
ansible_service_broker_local_registry_whitelist=['.*-apb$']

# Disable checks for disk and image availability
openshift_disable_check=disk_availability,docker_image_availability

# Use offline registry
registry_url=192.168.0.106:5000
oreg_url=192.168.0.106:5000/openshift3/ose-${component}:${version}
openshift_examples_modify_imagestreams=true
openshift_docker_additional_registries=192.168.0.106:5000
openshift_docker_insecure_registries=192.168.0.106:5000

# Global Build-Defaults
openshift_builddefaults_json='{"BuildDefaults":{"configuration":{"apiVersion":"v1","env":[{"name":"GIT_SSL_NO_VERIFY","value": "true"},{"name":"MAVEN_MIRROR_URL","value":"http://192.168.0.106:8081/repository/maven-mirror/"},{"name":"NPM_MIRROR","value":"http://192.168.0.106:8081/repository/npm-mirror/"}],"kind":"BuildDefaultsConfig"}}}'

# Worksaround for CNS on Docker 1.13 (https://github.com/openshift/openshift-ansible/issues/6431)
openshift_node_kubelet_args={'docker-disable-shared-pid': ['true']}
  
# host group for masters
[masters]
master.ocplabs.com openshift_node_labels="{'region': 'infra', 'zone': 'default'}" openshift_scheduleable=True
# host group for nodes, includes region info
[nodes]
master.ocplabs.com openshift_node_labels="{'region': 'infra', 'zone': 'default'}" openshift_scheduleable=True
node01.ocplabs.com openshift_node_labels="{'region': 'apps', 'zone': 'default'}"
node02.ocplabs.com openshift_node_labels="{'region': 'apps', 'zone': 'default'}"
node03.ocplabs.com openshift_node_labels="{'region': 'apps', 'zone': 'default'}"
[etcd]
master.ocplabs.com
